<a href="https://colab.research.google.com/github/adudars/PedidON/blob/master/arquivos/9.8_ConsultasLeft%26Right%26FullJoin.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 9.7 CONSULTAS COM GROUP BY E FUNÇÕES DE AGRUPAMENTO

## ESTABELECENDO CONEXÃO

### Instalando bibliotecas de acesso

In [2]:
#!pip install --user psycopg2-binary
#!pip install --user pandas

### Importando bibliotecas

In [3]:
import pandas as pd
import psycopg2

/usr/local/lib/python3.6/dist-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

### Conectando com o banco através do psycopg2

In [4]:
conn = psycopg2.connect(host="lallah.db.elephantsql.com",database="nxthbnlu", user="nxthbnlu", password="buyAYKsY17pqexg1grIcJaWm0gHBsO2F")

## CONSULTAS

In [9]:
query1 = pd.read_sql_query("""
select p.id_pedido, ic.*
from pedido as p
right join item_cardapio as ic on
(p.fk_id_itemcardapio = ic.id_itemcardapio);
""", conn)

In [10]:
query1

    id_pedido  id_itemcardapio  ... fk_id_categoria  fk_id_tamanho
0           1                1  ...               1              2
1           2                2  ...               1              2
2           3                3  ...               3              1
3           4                4  ...               3              1
4           5                5  ...               4              2
..        ...              ...  ...             ...            ...
67         68               13  ...               7              2
68         69               14  ...               6              2
69         70               15  ...              16             18
70         71               16  ...               8             14
71         72               17  ...               9             19

[72 rows x 7 columns]

In [7]:
query2 = pd.read_sql_query("""
select f.*, id_comanda, data
from funcionario as f
left join comanda as cd on
(f.id_funcionario = cd.fk_id_funcionario);
""", conn)

In [8]:
query2

    id_funcionario nome_funcionario  ...  id_comanda        data
0                1         Bernardo  ...           1  2020-07-30
1                1         Bernardo  ...           2  2020-07-30
2                2          Matheus  ...           3  2020-07-30
3                3           Ismael  ...           4  2020-07-30
4                2          Matheus  ...           5  2020-07-30
5                3           Ismael  ...           6  2020-07-31
6                1         Bernardo  ...           7  2020-07-31
7                2          Matheus  ...           8  2020-07-31
8                3           Ismael  ...           9  2020-07-31
9                1         Bernardo  ...          10  2020-08-01
10               2          Matheus  ...          11  2020-08-01
11               3           Ismael  ...          12  2020-08-01
12               2          Matheus  ...          13  2020-08-01
13               1         Bernardo  ...          14  2020-08-02
14               2          Matheus  ...          15  2020-08-02
15               3           Ismael  ...          16  2020-08-02
16               4         Fernanda  ...          17  2020-08-02
17               5           Martin  ...          18  2020-08-02
18               6          Gabriel  ...          19  2020-08-02
19               7            Aline  ...          20  2020-08-02
20               8            Maria  ...          21  2020-08-02
21               9           Eloisa  ...          22  2020-08-02
22              10        Ana Clara  ...          23  2020-08-02
23              11          Juliana  ...          24  2020-08-03
24              12           Adrian  ...          25  2020-08-03
25               1         Bernardo  ...          26  2020-08-03
26               2          Matheus  ...          27  2020-08-03
27               3           Ismael  ...          28  2020-08-03
28               4         Fernanda  ...          29  2020-08-03
29               5           Martin  ...          30  2020-08-03
30               6          Gabriel  ...          31  2020-08-03
31               7            Aline  ...          32  2020-08-03
32               8            Maria  ...          33  2020-08-03
33               9           Eloisa  ...          34  2020-08-03
34              10        Ana Clara  ...          35  2020-08-03
35              11          Juliana  ...          36  2020-08-04
36              12           Adrian  ...          37  2020-08-04
37               1         Bernardo  ...          38  2020-08-04
38               2          Matheus  ...          39  2020-08-04
39               3           Ismael  ...          40  2020-08-04
40               4         Fernanda  ...          41  2020-08-04
41               5           Martin  ...          42  2020-08-04
42               6          Gabriel  ...          43  2020-08-04
43               7            Aline  ...          44  2020-08-04
44               8            Maria  ...          45  2020-08-04
45               9           Eloisa  ...          46  2020-08-04
46              10        Ana Clara  ...          47  2020-08-04
47              11          Juliana  ...          48  2020-08-04
48              12           Adrian  ...          49  2020-08-04
49               1         Bernardo  ...          50  2020-08-04
50              13          Ronaldo  ...          61  2020-08-03
51              14   Roberto Carlos  ...          62  2020-08-03
52              15           Marcos  ...          63  2020-08-03
53              16          Rivaldo  ...          64  2020-08-03
54              17             Cafu  ...          65  2020-08-03
55              18            Lucio  ...          66  2020-08-04
56              19     Roque Junior  ...          67  2020-08-04
57              20         Edmilson  ...          68  2020-08-04
58               1         Bernardo  ...          69  2020-08-04
59               2          Matheus  ...          70  2020-08-04

[60 rows x 5 columns]

In [11]:
query3 = pd.read_sql_query("""select *
from pedido as p
full outer join observacao as o on
(p.id_pedido = o.fk_id_pedido);
""", conn)

In [12]:
query3

    id_pedido  quantidade  ...                descricao_obs  fk_id_pedido
0           1           2  ...                      Sem sal           1.0
1           4           3  ...      Um prato e talher extra           4.0
2           5           1  ...                    Sem nozes           5.0
3           7           1  ...                   Sem espuma           7.0
4           9           2  ...  Dois copos com gelo e limão           9.0
..        ...         ...  ...                          ...           ...
67         70           3  ...                         None           NaN
68         45           1  ...                         None           NaN
69         60           2  ...                         None           NaN
70          3           1  ...                         None           NaN
71         61           3  ...                         None           NaN

[72 rows x 8 columns]

In [13]:
query4 = pd.read_sql_query("""select nome_cliente, id_comanda, quantidade, nome_item
from cliente as c
inner join comanda as cd on
(c.id_cliente = cd.fk_id_cliente)
inner join pedido as p on
(cd.id_comanda = p.fk_id_comanda)
inner join item_cardapio as ic on
(p.fk_id_itemcardapio = ic.id_itemcardapio);
""", conn)

In [14]:
query4

    nome_cliente  id_comanda  quantidade          nome_item
0           Lara           1           2      Reta da Penha
1           Lara           1           1           Rua Sete
2          Jorge           2           1     Parque Moscoso
3          Clara           3           3  Convento da Penha
4          Clara           3           1       Ilha de Socó
..           ...         ...         ...                ...
67  José Geraldo          66           1             Arrais
68       Eduarda          67           2              Brisa
69     Gabrielle          68           3            Cachaça
70        Thiago          69           4              Appia
71        Moises          70           2          Red Label

[72 rows x 4 columns]