<a href="https://colab.research.google.com/github/adudars/PedidON/blob/master/arquivos/9.8_ConsultasLeft%26Right%26FullJoin.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 9.8 CONSULTAS COM LEFT, RIGHT E FULL JOIN

## ESTABELECENDO CONEXÃO

### Instalando bibliotecas de acesso

In [1]:
#!pip install --user psycopg2-binary
#!pip install --user pandas

### Importando bibliotecas

In [2]:
import pandas as pd
import psycopg2

/usr/local/lib/python3.6/dist-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

### Conectando com o banco através do psycopg2

In [4]:
conn = psycopg2.connect(host="lallah.db.elephantsql.com",database="nxthbnlu", user="nxthbnlu", password="buyAYKsY17pqexg1grIcJaWm0gHBsO2F")

## CONSULTAS

In [5]:
query1 = pd.read_sql_query("""
select * 
from observacao 
right outer join pedido on observacao.fk_id_pedido = pedido.id_pedido;
""", conn)

In [6]:
query1

    id_obs                    descricao  ...  fk_id_comanda  fk_id_itemcardapio
0      1.0                      Sem sal  ...              1                   1
1      2.0      Um prato e talher extra  ...              3                   4
2      3.0                    Sem nozes  ...              3                   5
3      4.0                   Sem espuma  ...              4                   7
4      5.0  Dois copos com gelo e limão  ...              5                   9
5      6.0          Sem os pães da casa  ...              7                   2
6      7.0                 Sem maracujá  ...              6                  10
7      8.0               Servir no copo  ...              4                   8
8      9.0        Porção extra de arroz  ...              8                   4
9     10.0            Adicionar pimenta  ...              6                   1
10     NaN                         None  ...             13                   6
11     NaN                         None  ...             10                   7
12     NaN                         None  ...              9                   5
13     NaN                         None  ...             12                   2
14     NaN                         None  ...             13                   5
15     NaN                         None  ...              3                   6
16     NaN                         None  ...             13                   4
17     NaN                         None  ...             12                   1
18     NaN                         None  ...             10                   8
19     NaN                         None  ...              1                   2
20     NaN                         None  ...              8                   3
21     NaN                         None  ...             11                   9
22     NaN                         None  ...             10                   6
23     NaN                         None  ...             13                   3
24     NaN                         None  ...              2                   3

[25 rows x 8 columns]

In [7]:
query2 = pd.read_sql_query("""
select * 
from observacao 
left outer join pedido on observacao.fk_id_pedido = pedido.id_pedido;
""", conn)

In [8]:
query2

   id_obs                    descricao  ...  fk_id_comanda  fk_id_itemcardapio
0       1                      Sem sal  ...              1                   1
1       2      Um prato e talher extra  ...              3                   4
2       3                    Sem nozes  ...              3                   5
3       4                   Sem espuma  ...              4                   7
4       5  Dois copos com gelo e limão  ...              5                   9
5       6          Sem os pães da casa  ...              7                   2
6       7                 Sem maracujá  ...              6                  10
7       8               Servir no copo  ...              4                   8
8       9        Porção extra de arroz  ...              8                   4
9      10            Adicionar pimenta  ...              6                   1

[10 rows x 8 columns]

In [9]:
query3 = pd.read_sql_query("""select * 
from observacao 
full outer join pedido on observacao.fk_id_pedido = pedido.id_pedido;
""", conn)

In [10]:
query3

    id_obs                    descricao  ...  fk_id_comanda  fk_id_itemcardapio
0      1.0                      Sem sal  ...              1                   1
1      2.0      Um prato e talher extra  ...              3                   4
2      3.0                    Sem nozes  ...              3                   5
3      4.0                   Sem espuma  ...              4                   7
4      5.0  Dois copos com gelo e limão  ...              5                   9
5      6.0          Sem os pães da casa  ...              7                   2
6      7.0                 Sem maracujá  ...              6                  10
7      8.0               Servir no copo  ...              4                   8
8      9.0        Porção extra de arroz  ...              8                   4
9     10.0            Adicionar pimenta  ...              6                   1
10     NaN                         None  ...             13                   6
11     NaN                         None  ...             10                   7
12     NaN                         None  ...              9                   5
13     NaN                         None  ...             12                   2
14     NaN                         None  ...             13                   5
15     NaN                         None  ...              3                   6
16     NaN                         None  ...             13                   4
17     NaN                         None  ...             12                   1
18     NaN                         None  ...             10                   8
19     NaN                         None  ...              1                   2
20     NaN                         None  ...              8                   3
21     NaN                         None  ...             11                   9
22     NaN                         None  ...             10                   6
23     NaN                         None  ...             13                   3
24     NaN                         None  ...              2                   3

[25 rows x 8 columns]

In [11]:
query4 = pd.read_sql_query("""select * 
from pedido 
right outer join item_cardapio on pedido.fk_id_itemcardapio = item_cardapio.id_itemcardapio 
order by hora;
""", conn)

In [12]:
query4

    id_pedido  quantidade  ... fk_id_categoria  fk_id_tamanho
0          19           1  ...               2              5
1          12           2  ...               1              2
2           7           1  ...               2              2
3          10           1  ...               2              2
4           3           1  ...               3              1
5           8           1  ...               2              4
6          20           1  ...               1              2
7           5           1  ...               4              2
8           4           3  ...               3              1
9          11           1  ...               1              2
10          1           2  ...               1              2
11         15           1  ...               4              2
12         16           2  ...               2              2
13         21           2  ...               1              2
14         13           3  ...               3              1
15          2           1  ...               1              2
16          6           2  ...               2              2
17         17           3  ...               2              2
18         14           3  ...               3              1
19         22           3  ...               3              1
20          9           2  ...               2              5
21         18           1  ...               2              4
22         23           4  ...               3              1
23         24           2  ...               4              2
24         25           1  ...               2              2

[25 rows x 11 columns]