<a href="https://colab.research.google.com/github/adudars/PedidON/blob/master/9_1_ConsultasTabelas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 9.1 CONSULTAS DAS TABELAS COM TODOS OS DADOS INSERIDOS

## ESTABELECENDO CONEXÃO

### Instalando bibliotecas de acesso

In [ ]:
#!pip install --user psycopg2-binary
#!pip install --user pandas

### Importando bibliotecas

In [ ]:
import pandas as pd
import pandas.util.testing as tm
import psycopg2

### Conectando com o banco através do psycopg2

In [ ]:
conn = psycopg2.connect(host="lallah.db.elephantsql.com",database="nxthbnlu", user="nxthbnlu", password="buyAYKsY17pqexg1grIcJaWm0gHBsO2F")

## SELECT SIMPLES DAS TABELAS

### Tabela cliente

In [ ]:
cliente = pd.read_sql_query("select * from cliente", conn)

In [ ]:
cliente

Empty DataFrame
Columns: [id_cliente, nome_cliente, cpf_cliente]
Index: []

### Tabela funcionário

In [ ]:
funcionario = pd.read_sql_query("select * from funcionario", conn)

In [ ]:
funcionario

Empty DataFrame
Columns: [id_funcionario, nome_funcionario, matricula_funcionario]
Index: []

### Tabela comanda

In [ ]:
comanda = pd.read_sql_query("select * from comanda", conn)

In [ ]:
comanda

Empty DataFrame
Columns: [id_comanda, mesa, data, fk_id_cliente, fk_id_funcionario]
Index: []

### Tabela pedido

In [ ]:
pedido = pd.read_sql_query("select * from pedido", conn)

In [ ]:
pedido

### Tabela item cardápio

In [ ]:
cardapio = pd.read_sql_query("select * from item_cardapio", conn)

In [ ]:
cardapio

### Tabela observação

In [ ]:
obs = pd.read_sql_query("select * from observacao", conn)

In [ ]:
obs

### Tabela categoria

In [ ]:
categoria = pd.read_sql_query("select * from categoria", conn)

In [ ]:
categoria

### Tabela tamanho

In [ ]:
tamanho = pd.read_sql_query("select * from tamanho", conn)

In [ ]:
tamanho